@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
$yellow:  rgb(248, 159, 0);
$cyan:    rgb(0, 172, 157);
$grey:    rgb(51, 51, 51);
$black:   rgb(38, 38, 38);
$base:    rgb(255, 255, 255);
$lightGrey:    rgb(235, 235, 235);

$BASE_FONT_SIZE: 16px;

$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;

html {
  font-size: $BASE_FONT_SIZE;
}

body {
  background-color: $grey;
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

#root {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

// The main container element
.Collapsible {
  background-color: $base;
  margin-right: 20px;
  margin-left: 20px;
}


//The content within the collaspable area
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid $lightGrey;
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: $grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: $cyan;
  color: white;


  &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
  
  
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}

.code {
  white-space: pre;
}